.App {
  text-align: center;
}

.navBar {
  list-style-type: none; /* Removes the bullet point */
  display: flex;
  justify-content: space-between; /* adds equal spacing between each <li> element */
}