.App {
  text-align: center;
}

.navBar {
  list-style-type: none; /* Removes the bullet point */
  justify-content: space-between; /*equal spacing between each <li> element */
  align-items: center;
  padding: .1px;
  display: flex;
  padding: 10px;
  border: 1px solid black;
  width: 100%;
}

.navBar li {
  margin: 0 5px;
}

@media screen and (max-width: 768px) {
  .navBar {
    flex-direction: row;
    align-items: flex-start;
  }
  
  .navBar li {
    margin: 5px 0;
  }
}

.eventCard {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 3rem;
	width: 90%;
	max-width: 300px;
	background-color: #1b2028;
	border-radius: 16px;
	position: relative;
	border: 3px solid transparent;
	background-clip: padding-box;
	text-align: center;
	color: #f1f3f3;
	background-image: linear-gradient(
		135deg,
		rgba(#752e7c, 0.35),
		rgba(#734a58, 0.1) 15%,
		#1b2028 20%,
		#1b2028 100%
	);
}