/* UploadPhotoForm.css */

@keyframes buttonBg {
    from {
      background-position: 0 50%;
    }
    to {
      background-position: 100% 50%;
    }
  }
  
  .upload-photo-form {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  
  .upload-photo-form input[type="file"] {
    color: transparent;
    cursor: pointer;
    border: 2px solid #3498db;
    background-color: white;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .upload-photo-form button {
    cursor: pointer;
    background-image: linear-gradient(135deg, #6EE7B7 0%, #3498db 100%);
    background-size: 200% 100%;
    border: none;
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    animation: buttonBg 3s linear infinite;
  }
  
  .upload-photo-form button:hover {
    background-position: 100% 50%;
  }
  
  .upload-photo-form button:disabled {
    background-image: none;
    background-color: #ccc;
    cursor: not-allowed;
    animation: none;
  }
  